# Archivos compilados de C++
*.exe
*.obj
*.pdb
Debug/
Release/
x64/
*.sln
*.filters
*.user
*.vcxproj


# Archivos de IDE/Editores
.vscode/
.vs/
.idea/
*.swp
*.swo
*~

#Usuario
*.suo
*.user
*.VC.db
*.cache
*.sdf
*.ipch
*.tlog
*.log